.box {
  display: flex;
  justify-content: center;
}

.card {
  width: 1000px;
  border-color: red;
  background-color: white;
  padding: 30px;
  margin: 10px;
  justify-content: center;
}

.detail {
  display: grid;
  grid-template-columns: auto 1fr;
}

.review {
  width: 100%;
  font-size: 18px;
  border: 2px solid #a55f0e;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5%;
}

.bookReview {
  width: 100%;
  font-size: 18px;
  border: 1.5px solid #ac8457;
  background-color: #fdf4ea;
  padding: 10px;
  margin-bottom: 5%;
}
