@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff5e8;
}

.input {
  width: 150%;
  font-size: 18px;
  padding: 16px;
  border: 2px solid #a55f0e;
  border-radius: 30px;
}

.container {
  width: 800px;
}

.split {
  display: grid;
}

.details {
  /* border: pink; */
  border-style: dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.book-single {
  width: auto;
  height: 400px;
  /* border: pink;
  border-style: dotted; */
}

.book-details {
  display: grid;
  grid-template-columns: auto 1fr;
}

h1 {
  font-size: x-large;
}

.title {
  position: absolute;
  /* border: rgb(90, 0, 15);
  border-style: dotted; */
  margin-top: -165px;
}
.author {
  font-size: large;
  /* border: rgb(0, 167, 125);
  border-style: dotted; */
  position: absolute;
  margin-top: -100px;
}

.description {
  position: relative;
  /* border: rgb(70, 68, 165); */
  border-style: dotted;
  margin-top: 60px;
}

.card {
  width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchButt {
  background-color: rgb(250, 230, 193);
  border-radius: 30px;
  font-size: small;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: #e7b67d;
}

.searchBookCard {
  padding: 40px;
}

.reviewBox {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.reviewBookCover {
  width: 450px;
  height: 260px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 30px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewCard p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bookshelfContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5em;
}

.book-cover {
  width: 150px;
  height: 225px;
  /* border: pink;
  border-style: dotted; */
}

.readMore {
  color: brown;
  cursor: pointer;
}

.buttonbox {
  display: flex;
  flex-direction: column;
}

.viewButton {
  border-radius: 20px;
  border-style: solid;
  border-color: red;
  background-color: rgb(212, 157, 54);
  color: white;
  padding: 5px;
}

.bookCard {
  padding: 50px;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.detail {
  display: grid;
  grid-template-columns: auto 1fr;
}

.review {
  width: 100%;
  font-size: 18px;
  border: 2px solid #a55f0e;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5%;
}

.reviewButton {
  display: flex;
  justify-content: center;
}

.bookReview {
  width: 100%;
  font-size: 18px;
  border: 1.5px solid #ac8457;
  background-color: #fdf4ea;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.book-single {
  width: auto;
  height: 400px;
  /* border: pink;
  border-style: dotted; */
}

.star {
  cursor: pointer;
}
