.bookshelfContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5em;
}

.book-cover {
  width: 150px;
  height: 225px;
  /* border: pink;
  border-style: dotted; */
}

.readMore {
  color: brown;
  cursor: pointer;
}

.buttonbox {
  display: flex;
  flex-direction: column;
}

.viewButton {
  border-radius: 20px;
  border-style: solid;
  border-color: red;
  background-color: rgb(212, 157, 54);
  color: white;
  padding: 5px;
}
